/* ********************************************************home-comp-class Starts***************************************** */
.home-section {
    background-repeat: no-repeat;
    background-image: url("../../../../assets/Images/desktop1.png");
    color: #fff;
    margin: auto;
}

.home-section-grid {
    max-width: 80%;
    margin: auto;
    padding-bottom: calc(1 * ((43% - 0.5px) * 1) + 0px + 0px) !important;
}


.home-content h1 {
    font-size: 4rem;
    letter-spacing: 3px;
    line-height: 1.2;
}

.home-content p {
    font-size: 20px;
    line-height: 1.2;
    padding: 12px 150px 30px 0px;
}

.button {
    border: none;
    border-radius: 8px;
    color: #000;
    letter-spacing: 2px;
    background: linear-gradient(270deg, #2EE3BE 4.32%, #51FC99 100%);
    padding: 18px 28px;
    font-size: 18px;
    font-weight: 500;
}

.image img {
    width: 100%;
    height: 70%;
    margin-top: auto;
    margin-bottom: auto;
}

/* ******************************************* home-comp-class Ends ****************************************** */

/* ******************************************* Overview Starts ********************************************** */
.overview {
    background: #F0F7FF;
}

.heading-content {
    padding: 0px 0px 0px 137px;
}

.border {
    width: 17%;
    padding-bottom: 15px;
    border-top: 5px solid #35DBA8;
}

.heading-content h2 {
    font-size: 3rem;
    line-height: 1.5;
    letter-spacing: 3px;
}

.heading-content p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-top: 30px;
}

.heading-content a {
    letter-spacing: 2px;
    color: #35dba8;
    font-weight: 600;
}

.we {
    padding: 0px 45px 0px 150px;
}

.we-div1,
.mo-div1 {
    margin-top: 20%;
    margin-bottom: 20%;
}

.icon {
    text-align: center;
    font-size: 2.9rem;
    width: 16.1%;
    height: 95%;
    background: linear-gradient(180deg, #C8EEFF 0%, #CEE8FF 100%);
    border-radius: 35px;
}

.mo {
    padding: 0px 110px;
}

.we h3,
.mo h3 {
    margin: 8px 0px 8px;
    font-size: 1.5rem;
}

.we p,
.mo p {
    font-size: 1.1rem;
}


/* ********************************************************************************** overview Ends ************************************************************ */
/* *************************************************************************** Cards Starts ******************************************************************** */
.card-border {
    margin: auto;
    margin-top: 4%;
    width: 6%;
    padding: 25px;
    border-top: 5px solid #35DBA8;
}

.tech-heading h2 {
    text-align: center;
    font-size: 3rem;
    padding-bottom: 20px;
}

.card mat-card {
    width: 78%;
}

.card img {
    margin-bottom: 2%;
}

.card h2 {
    font-size: 2rem;
}

.card mat-card,
a {
    text-align: center;
    text-decoration: none;
}

/* ************************************************************************************** Cards Ends **************************************************************/
/* -------------------------------------------------Mobile home layout Starts-------------------------------------------- */
.links{
    min-height: 814px;
    background-image: url("../../../../assets/Images/Subjects.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.mongo-img {
    position: absolute;
    top: 8px;
}

.express-img {
    position: absolute;
    top: 102.98px;
}

.angular-img {

    position: absolute;
    top: 225.66px;
}

.node-img {
    position: absolute;
    top: 345.33px;
}

/* ----------------------------------------------Mobile home layout Ends--=--------------------------------------------- */
/* ================================================Media Query Starts=================================================== */
@media (max-width: 400px) {

    .home-section,
    .cards-container,
    .overview {
        display: none;
    }

    .links {
        display: block;
    }
}

@media(min-width: 401px) {
    .links {
        display: none;
    }
}

/* ================================================Media Query Ends=================================================== */