<!--****************************************************** Div-1 Starts Here**************************************************************** -->
<div class="home-section">
    <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)" class="home-section-grid">
        <mat-grid-tile>
            <div class="home-content">
                <h1>We Are Full Stack <br> Web Development</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem debitis vel nihil possimus in
                    tempore
                    dicta molestias dolorem et iusto.</p>
                <button class="button">Learn More</button>
            </div>
        </mat-grid-tile>
        <mat-grid-tile class="image"><img src="../../../../assets/Images/developer_image.png" /></mat-grid-tile>
    </mat-grid-list>
</div>
<!--****************************************************** Div-1 Ends Here**************************************************************** -->
<!--****************************************************** Div-2 Starts Here************************************************************** -->
<div class="overview">
    <mat-grid-list [cols]="breakpoint2" (window:resize)="onResize($event)" class="overview-grid">
        <mat-grid-tile>

            <div class="heading-content">
                <div class="border"></div>
                <h2>The Best Full Stack <br>Developer For You</h2>
                <p>" Lorem, ipsum dolor sit amet consectetur adipisicdribbleing elit. Animi, expedita nobis. Amet
                    perferendis
                    consectetur provident dolorem minima hic veritatis ab?
                </p>
                <a href="#">See More Info</a>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="we">
                <div class="we-div1">
                    <mat-icon class="icon">developer_mode</mat-icon>
                    <h3>Web Design</h3>
                    <div class="border"></div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae, accusamus laborum?</p>
                </div>
                <div>
                    <mat-icon class="icon">web</mat-icon>
                    <h3>Web Development</h3>
                    <div class="border"></div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae, accusamus laborum?</p>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="mo">
                <div class="mo-div1">
                    <mat-icon class="icon">grading</mat-icon>
                    <h3>Mock-Up Design</h3>
                    <div class="border"></div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae, accusamus laborum?</p>
                </div>
                <div>
                    <mat-icon class="icon">phone_android</mat-icon>
                    <h3>Mobile Application</h3>
                    <div class="border"></div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae, accusamus laborum?</p>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<!--****************************************************** Div-2 Ends Here *************************************************************** -->
<!--****************************************************** Div-3 Starts Here ************************************************************* -->
<div class="cards-container">
    <div class="card-border"></div>
    <div class="tech-heading">
        <h2>What You Will Learn?</h2>
    </div>
    <mat-grid-list [cols]="breakpoint3" (window:resize)="onResize($event)">
        <mat-grid-tile class="card">
            <mat-card>
                <img mat-card-image src="../../../../assets/Images/Mongo.png" alt="mongo">
                <mat-card-content>
                    <h2>MongoDB</h2>
                    <a href="#">See More Info</a>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile class="card">
            <mat-card>
                <img mat-card-image src="../../../../assets/Images/Mongo.png" alt="mongo">
                <mat-card-content>
                    <h2>MongoDB</h2>
                    <a href="#">See More Info</a>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile class="card">
            <mat-card>
                <img mat-card-image src="../../../../assets/Images/Mongo.png" alt="mongo">
                <mat-card-content>
                    <h2>MongoDB</h2>
                    <a href="#">See More Info</a>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile class="card">
            <mat-card>
                <img mat-card-image src="../../../../assets/Images/Mongo.png" alt="mongo">
                <mat-card-content>
                    <h2>MongoDB</h2>
                    <a href="#">See More Info</a>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<!--****************************************************** Div-3 Ends Here************************************************************** -->

<!--********************************************** Mobile div-1 starts***************************************************** -->
<div class="links">
    <div class="mongo-img">
        <img src="../../../../assets/Images/Mongo.svg" />
    </div>
    <div class="express-img">
        <img src="../../../../assets/Images/Express.svg">
    </div>
    <div class="angular-img">
        <img src="../../../../assets/Images/Angular.svg">
    </div>
    <div class="node-img">
        <img src="../../../../assets/Images/Node.svg">
    </div>
</div>
<!--********************************************** Mobile div-1 ends***************************************************** -->