<!--************************************************* Desktop Navbar starts******************************************* -->
<header>
  <mat-toolbar class="navbar">
    <mat-toolbar-row>
      <div class="logo">
        <div class="m">M</div>
        <div class="e">E</div>
        <div class="a">A</div>
        <div class="n">N</div>
      </div>
      <!-- <div>
      <button mat-icon-button class="hamburger">
      <mat-icon >menu</mat-icon>
    </button>
    </div> -->
      <div class="navbar-contents">
        <a mat-button routerLink="">Home</a>
        <a mat-button routerLink="about/">About</a>
        <a mat-button routerLink="ourservices/">Ourservices</a>
        <a mat-button routerLink="contact/">Contacts</a>
      </div>
      <div>
        <button mat-icon-button class="hamburger" (click)="toggle_me()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>
        <button mat-icon-button class="login">
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
<div class="hamburger-content" *ngIf="show">
  <a mat-button routerLink="">Home</a>
  <a mat-button routerLink="about/">About</a>
  <a mat-button routerLink="ourservices/">Ourservices</a>
  <a mat-button routerLink="contact/">Contacts</a>
</div>
<!--**************************************************** Desktop Navbar ends ********************************************** -->

<!-- *************************************************Mobile navbar Starts************************************************** -->
<!-- <div class="hamburger">
    <button mat-icon-button (click)="sidenav.toggle();">
      <mat-icon>menu</mat-icon>
    </button>
  </div> -->
<!-- </mat-toolbar> -->
<!-- <mat-sidenav-container>
  <mat-sidenav #sidenav opened="true" mode="side">
    <mat-nav-list>
      <a mat-list-item syle="color:black;">Mongodb</a>
      <a mat-list-item>Express</a>
      <a mat-list-item>Angular</a>
      <a mat-list-item>Nodejs</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
  </mat-sidenav-content>
</mat-sidenav-container> -->
<!-- ************************************************Mobile navbar Ends****************************************** -->
<!-- **************************************************SIDENAV Starts**************************************** -->
<!-- <mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/accounts'"> Home </a>
      <a mat-list-item [routerLink]="'/create-account'"> Aboutus </a>
      <a mat-list-item [routerLink]="'/contacts'"> Services </a>
      <a mat-list-item [routerLink]="'/create-contact'"> Contact </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="child">
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> -->
<!-- **************************************************SIDENAV ENDs**************************************** -->