/* ----------------------------------------------------------NAVBAR STARTS----------------------------------------- */
.mat-grid-list {
    padding-bottom: 0px !important;
}

.navbar {
    background: #5859EE;
    color: #FFFFFF;
    max-width: 100%;
    overflow-x: hidden;
}

.logo {
    margin-right: auto;
    letter-spacing: 20px;
    display: flex;
}

.navbar-contents {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar-contents a {
    margin: 30px;
    margin-bottom: 12px;
    margin-top: 12px;
}

.hamburger {
    margin-left: auto;
    display: none;
}


.hamburger-content {
    display: none;
    float: left;
}

/* ---------------------------------------------------------------NAVBAR ENDS----------------------------------------- */
/* =================================================Media Query Starts=============================================== */
@media (max-width: 400px) {
    .hamburger {
        display: block;
    }

    .hamburger-content {
        display: flex;
        flex-direction: column;
        position: absolute;
        /* background-color: red; */
    }

    .navbar-contents,
    .login {
        display: none;
    }
}

/* ============================================Media Query Ends===================================================== */