.footer-bar {
    position: sticky;
    top: auto;
    padding: 25px;
    background: #22018e;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
}

.footer-bar a {
    color: #fff;
}

.logo {
    font-size: 2.3rem;
    margin-right: auto;
    display: flex;
    color: #fff;
}

.button-bar {
    margin-left: auto;
}

.button-bar a {
    padding: 0px 35px;
}

.icon-bar {
    margin-left: auto;
}

.icon-bar a {
    font-size: 1.3rem;
    padding: 0px 35px;
}