<div class="footer-bar">
    <!-- logo -->
    <div class="logo">
        <div class="m">M</div>
        <div class="e">E</div>
        <div class="a">A</div>
        <div class="n">N</div>
    </div>
    <!-- nav -->
    <div class="button-bar">
        <a mat-button routerLink="">Home</a>
        <a mat-button routerLink="about/">About</a>
        <a mat-button routerLink="ourservices/">Ourservices</a>
        <a mat-button routerLink="contact/">Contacts</a>
    </div>
    <!-- socialMedia -->
    <div class="icon-bar">
        <a href=""><fa-icon [icon]="myLinkedin"></fa-icon></a>
        <a href=""><fa-icon [icon]="myFacebook"></fa-icon></a>
        <a href=""><fa-icon [icon]="myInstagram"></fa-icon></a>
        <a href=""><fa-icon mat-button [icon]="myGitlab"></fa-icon></a>
    </div>
</div>